.post {
    text-align: center;
    margin-bottom: 30px;
    margin: auto;
    width: 50%;
}

.post h2 {
    margin-top: 20px;
    font-weight: 600;
}

.post .author {
    color: rgba(0, 0, 0, 0.57);
    font-style: italic;
    font-size: 13px;
    margin: 15px 0;
}

.post img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.post .content {
    color: rgba(0, 0, 0, 0.57);
    margin: 10px 0 25px 0;
    word-wrap: break-word;
}

.post .tags {
    color: black;
    margin: 10px 0 50px 0; 
    font-size: 14px;
}

.post .tags .tag {
    color: rgba(0, 0, 0, 0.57);
}

