footer {
    background-color: rgba(0, 0, 0, 0.104);
    box-sizing: border-box;
}

h3, p {
    text-align: center;
}

h3 {
    padding-top: 5px; 
}

p {
    padding: 5px 0 7px 0; 
}

@media (min-height: 597px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}